body{
    background-color: #dee9ff;
}

.FD-form{
	padding: 90px 0;
}

.FD-form form{
    background-color: #fff;
    max-width: 450px;
    margin: auto;
    margin-top:-120px;
    padding: 30px 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.FD-form .form-icon{
	text-align: center;
    background-color:#185bf5;
    border-radius: 50%;
    font-size: 40px;
    padding-top:-3px;
    color: white;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.FD-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.FD-form .submit{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color:#185bf5;
    border: none;
    color: white;
    margin-top: 20px;
}

.FD-form .social-media{
    max-width: 450px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}




@media (max-width: 576px) {
    .FD-form form{
        padding: 50px 20px;
    }

}