/* =======================================================================
Template Name: Youtubers
Author:  SmartEye Technologies
Author URI: www.smarteyeapps.com
Version: 1.0
coder name:Prabin Raja
Description: This Template is created for Youtubers
======================================================================= */

/* ===================================== Import Variables ================================== */
@import 'variable';
/* ===================================== Basic CSS ==================================== */
@import 'base/basic_setup';

/* ===================================== Basic CSS ==================================== */
@import 'base/bootstrap';


.max-230{
    max-width: 230px;
}




footer{
   
    .inner{
        background-color: rgba(0,0,0,0.7);
        @include big-padding();
        color: #ccc;
        font-size: .9rem;
        h4{
            color: #FFF;
           
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 30px;
        }
        .foot-about{
            p{
                margin-bottom: 30px;
            }
        }
        .foot-post{
            .post-row{
                display: flex;
                margin-bottom: 10px;
                .image{
                     
                    img{
                       width: 120px;
                    }
                }
                .detail{
                    flex-grow: 1;
                    padding-left: 5px;
                    
                    p{
                        font-size: .8rem;
                        margin-top: -5px;
                    }
                }
            }
        }
        .foot-services{
            ul{
                li{
                    padding: 5px;
                    font-size: .95rem;
                    a{
                        color: #ccc;
                    }
                }
            }
        }
        .foot-news{
            p{
               margin-bottom: 20px; 
            }
            .input-group{
                border-radius: 0px;
                input{
                    border-radius: 0px;
                }
                .input-group-append{
                    border-radius: 0px;
                    background-color: #FFF;
                }
            }
            ul{
                li{
                    float: left;
                    padding: 10px;
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.copy{
        padding: 20px;
        background-color: #000000;
        color: #FFF;
    a{
        color: #FFF;
    }
    span{
        float: right;
        i{
            margin-right: 20px;
        }
    }
}


@media screen and (max-width: 767px) {
    .mul{
        width: 100%;
    }
    .dfr{
        font-size: 2.5rem;
    }
}


.team{
    padding:40px 0px;
	position:relative;
	overflow:hidden;

	.head-01{
		text-align:center;
		margin:20px 0px;

        h2{
            font-size:1.5625rem;
            text-transform: capitalize;
            letter-spacing:.2px;
        }

        p{
            font-size:1rem;
            color:$text-primary;
        }
	}

	.team-main-box{
        position:relative;
		margin:20px 0px;
		transition:0.2s;
        padding-bottom:30px;
        border:1px solid #f6f4f4;

        img{
			width:100%;
		}

		.team-content-box{
            position: relative;
		    width: 85%;
		    background: #fff;
		    margin: -40px auto 0px auto;
		    display: block;
		    padding: 10px;
		    text-align:center;
		    box-shadow: 0px 0px 15px 0px #ddd;

			b{
				display:block;
				position:relative;
				font-size:15px;
				
			}

			h3{
				font-size:18px;
				font-weight:600;
				position:relative;
				padding:15px 0px 0px;
			}

			ul{
                width: 135px;
			    background: #232424;
			    padding: 5px 0px;
			    margin: 0 auto;
			    display: block;
			    color: #fff;
			    border-radius: 20px;
			    position:absolute;
			    left:0;
			    right:0;
			    top: -22px;
			    text-align: center;
			    box-shadow: 0px 8px 13px 0px #ddd;

				li{
                    display:inline-block;
					padding: 0px 7px;

					i{
						
					}
				}
			}
		}
	}
}